<header>
  <div class="container">
    <a href="#" class="logo">Cool App</a>
  <nav>
    <ul>
      <li><a href="#" routerLink='/'>Home</a></li>
      <li><a href="#" routerLink='/chartshome'>Charts</a></li>
      <li><a href="#" routerLink='/list'>API demo</a></li>
    </ul>
  </nav>
</div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
