/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

$primary: rgb(111,0,255);

body {
  margin:0;
  font-family: 'Nunito', 'sans-serif';
  font-size:18px;
}

.container{
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: $primary;
  padding: 1em 0;

  a {
    color: white;
    text-decoration: none;
  }

  a.logo {
    font-weight: bold;
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1em;

        &:hover {
          background: darken($primary, 10%);
        }
      }
    }


  }
}

h1 {
  margin-top: 2em;
}
