<h1>Charts with D3!</h1>

<div class="boxes">
  <div class="box">
    <h3>Chart 1</h3>
    <p class="description">Bar chart with...</p>
    <p class="detail">scaleLinear</p>

  </div>
  <div class="box">
    <h3>Chart 2</h3>
    <p class="description">Bar chart with...</p>
    <p class="detail">scaleLinear</p>

  </div>
  <div class="box">
    <h3>Chart 3</h3>
    <p class="description">Bar chart with...</p>
    <p class="detail">scaleLinear</p>

  </div>
  <div class="box">
    <h3>Chart 4</h3>
    <p class="description">Bar chart with...</p>
    <p class="detail">scaleLinear</p>
  </div>
</div>
